body {
  background-color: #434242;
}

.containerImage {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.main {
  text-align: center;
}

.near {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin: 30px 5px ;
  
}

.imageNear {
  /*filter: blur(1px);*/
  /*filter: grayscale(50%);*/
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

button {
  background-color: #742b19;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}

h1 {
  padding: 0;
  margin: 10px;
}

h2 {
  padding: 0;
  margin: 0px;
}

.bascet {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
  margin: 15px;
}

.bascetText {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 25px;
  text-transform: uppercase;
}

.containerIm {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 20px;
  padding: 0px 55px;
}

